Repository gdsc-ssu/2025-cs-study, pull requests merged in 2025-01, with the labels that each got.

#9 Feat : [OS] 클라우드 환경 속 swap 메모리
  AWS/SwapMemoryInCloud.md
Labels: OS

#11 feat : [Algorithm] 백트래킹 정리
  Algorithm/백트래킹.md
Labels: Algorithm

#8 feat: [AWS] Terraform
  AWS/Terraform.md
Labels: AWS

#1 feat: [Linux] Signal정리(1)
  Linux/.gitkeep
  Linux/Signal.md
Labels: Linux

#3 feat: [Algorithm] 그리디 알고리즘
  Algorithm/Greedy.md
  Algorithm/img/image-1.png
  Algorithm/img/image-2.png
  Algorithm/img/image-3.png
  Algorithm/img/image-4.png
  Algorithm/img/image-5.png
  Algorithm/img/image-6.png
  Algorithm/img/image-7.png
  Algorithm/img/image-8.png
  Algorithm/img/image.png
Labels: Algorithm

#14 feat: [Network] HTTP request messaage 작성 - url
  Linux/http_request_message.md
Labels: Network

#2 feat : [DB] Key에 대해 설명해 주세요
  DB/Key.md
Labels: DB

#15 feat: [Network] osi 7 계층
  Network/osi7계층.md
Labels: Network

#16 feat: [DB] Between vs In
  DB/Between&In.md
Labels: DB

#13 feat : [Network] HTTP 개관(1)
  Network/Intro_HTTP.md
  Network/ny_http_msg.png
Labels: Network

#10 feat: [Network] HTTP, IP, DNS
  Network/HTTP, IP, DNS.md
Labels: Network

#4 feat: [AWS] Lambda
  AWS/Lambda.md
Labels: AWS

#20 rename: [Network] http_request_message.md를 Network 폴더로 이동
  Network/http_request_message.md
Labels: Network

#17 feat: [OS] OS 개론(1)
  .obsidian/app.json
  .obsidian/appearance.json
  .obsidian/core-plugins.json
  .obsidian/workspace.json
  OS/OS 개론(1).md
Labels: OS

#6 feat: [Network] 네트워크 기초 개념 정리
  Network/DNS.md
  Network/HTTP-HTTPS.md
  Network/LoadBalancing.md
  Network/OSI7Layer.md
  Network/REST-API.md
  Network/SSL-TLS.md
Labels: Network

#12 feat: [Algorithm] DFS & BFS 정리
  Algorithm/DFS&BFS.md
Labels: Algorithm

#7 feat: [DB] View 정리
  DB/View.md
Labels: DB

#5 feat: [Computer Architecture] ComputerSystem 개론 정리
  Computer architecture/2. 컴퓨터 내부의 데이터 표현.md
  Computer architecture/컴퓨터 구조 목차.md
Labels: OS

#27 feat : [Linux] signal정리 2
  Linux/Signal2.md
  Linux/http_request_message.md
Labels: Linux

#30 feat: [AWS] AWS cloud storage에 대해 알아보자 (S3, EBS, EFS)
  AWS/CloudStorage.md
Labels: AWS

#26 feat: [Network] Proxy 정리
  Network/Proxy.md
Labels: Network

#28 feat: [OS] 운영체제 기초 정리
  OS/OS_basic.md
Labels: OS

#32 feat: [OS] OS 개론(2)
  .obsidian/workspace.json
  OS/OS 개론(2).md
  Pasted image 20250106112629.png
  Pasted image 20250106114208.png
Labels: OS

#33 feat: [Computer Architecture] 논리회로, 조합논리회로
  Computer architecture/3. 논리 회로 기초.md
  Computer architecture/4. 조합 논리 회로.md
Labels: ComputerArchitecture

#24 Feat : [Network] 소켓 통신
  Network/Socket.md
Labels: Network

#31 feat : [OS] Process
  OS/프로세스.md
Labels: OS

#29 feat: [DB] RDB와 트랜잭션
  DB/RDB&NoSQL.md
  DB/Transaction&ACID.md
  DB/TransactionIsolactionLevel.md
Labels: DB

#23 Feat: [Network] HTTP 개관(2)
  Network/Intro_HTTP.md
Labels: Network

#19 Feat: [DB] MySQL과 함께 동시성 제어 알아보기
  DB/ConcurrencyControlWithMySQL.md
Labels: DB

#46 Feat: [Network] URL과 리소스
  Network/URL_Resource.md
  Network/ny_converting_relative_to_abs_URL.png
Labels: Network

#45 [AWS] Docker 이미지 최적화하기
  .DS_Store
  AWS/.DS_Store
  AWS/image/Pasted image 20231113162741.png
  AWS/image/Pasted image 20240719110709.png
  AWS/image/Pasted image 20240719110718.png
  AWS/image/Pasted image 20240719110721.png
  AWS/image/Pasted image 20240719110733.png
  AWS/image/Pasted image 20240719110933.png
  AWS/image/Pasted image 20240719110958.png
  AWS/image/Pasted image 20240719142307.png
  AWS/도커이미지최적화하기.md
Labels: AWS

#35 feat: [OS] 스케쥴링
  OS/OS_Scheduling.md
Labels: OS

#22 feat: [DB] DB Connection Pool
  DB/DB Connection Pool.md
Labels: DB

#40 feat: [Computer Architecture] CPU의 작동 원리
  Computer architecture/CPU.md
  Computer architecture/image/alu.png
  Computer architecture/image/control_unit.png
  Computer architecture/image/displacement_addressing.png
  Computer architecture/image/instruction_cycle.png
Labels: ComputerArchitecture

#44 feat: [DesignPattern] 디자인 패턴 정리
  DesignPattern/DesignPatternSummary.md
Labels: DesignPattern

#38 feat : [Network] Protocol
  Network/Protocol.md
Labels: Network

#43 feat : [Linux] Signal 마지막 이야기
  Linux/Signal3.md
Labels: Linux

#39 feat: [DB] Index 정리
  DB/Index.md
Labels: DB

#41 feat: [AWS] AWS ElastiCache란??
  AWS/ElastiCache.md
Labels: AWS
